<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-4 px-1">Crear turno</h5>
        <form>
          <div class="form-group">
          <div class="mb-3">
            <label for="clientName" class="form-label">Cliente</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="barber" class="form-label">Barbero</label>
            <select type="dropdown" class="form-select">
              <option></option>
              <option *ngFor="let barber of barbers" [value]="barber.barberId">{{ barber.barberName }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">Estado</label>
            <select id="state" type="dropdown" class="form-select">
              <option></option>
              <option value="1">Programado</option>
              <option value="2">En curso</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="exampleCheck1">Fecha</label>
            <input class="form-control" type="datetime-local" date-format="mm/dd/yyyy hh:mm:ss">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
  </div>
  </div>
